name: my_wallet
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  local_auth: ^2.1.6
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.2.0
  flutter_svg: ^2.0.7
  smooth_page_indicator: ^1.1.0
  flutter_bloc: ^8.1.3
  dio: ^5.3.2
  equatable: ^2.0.5
  google_fonts: ^6.1.0
  intl: ^0.20.2
  flutter_dotenv: ^5.1.0
  flutter_secure_storage: ^9.0.0
  connectivity_plus: ^5.0.1
  shimmer: ^3.0.0
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
  
  assets:
    - assets/images/
    - assets/icons/
  
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700